.productsAdContainer {
  width: 80%;
  height: 41.2rem;
  display: flex;
  z-index: 5;
}

.imageContainer {
  width: 60%;
  height: 100%;
  border-radius: 0.5rem 0 0 0.5rem;
}

.infoContainer {
  width: 40%;
  background-color: black;
  height: 100%;
  padding: 6rem;
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-left: 1px solid white;
  border-radius: 0 0.5rem 0.5rem 0;
}

.infoContainer h2 {
  font-size: 3.5rem;
  font-weight: 400;
}

.infoContainer p {
  font-size: 1.6rem;
  font-weight: 300;
}
